<h2>List of Items</h2>

<div>
    <label>Item name:
      <input #itemName />
    </label>
    <button title = "Add Item" (click)="add(itemName.value); itemName.value=''">
      Add Item
    </button>
</div>

<div>
<table>
    <tr>
      <th>Name</th>
      <th>ID</th>
      <th colspan="2">Action</th>
    </tr>

    <tr *ngFor="let item of items">
      <td>{{item.name}}</td>
      <td>{{item.id}}</td>
      <td>
          <button title = "View Details" routerLink="/detail/{{item.id}}">
            View Details
          </button>
      </td>
      <td>
          <button title = "Delete Item" (click)="delete(item)">
              Delete Item
          </button>
      </td>  
    </tr>
</table>
</div>